# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
serviceAccountKey.json
client/env
# Build output
client/dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Package lock files
package-lock.json
client/package-lock.json
server/package-lock.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vite / build output
dist
.dist

# TypeScript cache
*.tsbuildinfo

# Optional caches and runtime data
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Coverage
coverage
*.lcov
.nyc_output

# Misc
pids
*.pid
*.seed
*.pid.lock
npm-debug.log*
jspm_packages/
web_modules/
.cache
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.gz
.pnp.*
