<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        Typing Test  &#x1F408;&#x200D;&#x2B1B;
    </h1>
    <div id="header">        
        <div id="timer">0</div>
        <button id="button">start new game</button>
    </div>
    <hr id="horizontalLine">
    <div id="game" tabindex="0">
        <div id="content"></div>        
        <div id="cursor"></div>
        <div id="focus-error">Click here to focus</div>
    </div>
    <script src="game.js"></script>
</body>
</html>
